@import "https://ruvebal.github.io/web-atelier-udit/assets/css/site.css";

.btn-primary {
  color: white;
  background-color: #007bff;
  background: var(--primary);
  color: white;
}

#miplayer {
  width: 100%;
  height: auto;
}
