@import "https://ruvebal.github.io/web-atelier-udit/assets/css/site.css";

body {
  background-color: beige;
}

.btn-primary {
  color: white;
  background-color: #007bff;
  background: var(--primary);
  color: white;
}

.myownstyle {
  padding: 1rem;
}
