:root {
  --bs-blue: #0a4bac;
  --bs-indigo: #4e0fb3;
  --bs-purple: #50308d;
  --bs-pink: #a32b67;
  --bs-red: #a32a36;
  --bs-orange: #a35312;
  --bs-yellow: #ca9802;
  --bs-green: #0aad61;
  --bs-teal: #21b1b6;
  --bs-cyan: #00eeff;
  --bs-white: #fff;
  --bs-gray: #6c757d;
  --bs-gray-dark: #343a40;
  --bs-primary: #0a4eb4;
  --bs-secondary: #454b50;
  --bs-success: #12633d;
  --bs-info: #0d839b;
  --bs-warning: #968248;
  --bs-danger: #7c1d27;
  --bs-light: #d7d8d8;
  --bs-dark: #212529;
  --bs-font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  --bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
}

.bg-primary {
    background-color:var(--bs-danger) !important;
}

